v-scroll, h-scroll
  display block

  &::part(scroll)
    display flex
    height 100%
    overflow auto
    position relative
    scrollbar-width none
    width 100%

    &::-webkit-scrollbar
      display none

  &::part(bar)
    bottom 0
    display block
    position sticky
    transition all 0.2s, opacity 1s, box-shadow 1s
    user-select none
    z-index 999
    --si-anim none
    --si-bg #7d7d7d99

  &::part(bar):hover, &::part(drag)
    background #0000000d
    box-shadow inset 0 1px 6px #ffffffcc, inset 0 -2px 8px #0000000a, inset 0 0 0 1px #ffffff80
    opacity 1 !important
    --si-anim v-scroll-pop 0.4s ease-out
    --si-bg #7d7d7dcc

  &::part(si)
    animation var(--si-anim)
    background var(--si-bg)
    border-radius 3px
    display block
    margin auto
    position absolute
    transition all 0.2s, opacity 1s, box-shadow 1s

v-scroll
  height 100%
  width 100%
  --sh inset 3px 0 3px -3px #0000004d, inset -3px 0 3px -3px #0000000d

  &::part(scroll)
    overflow-x hidden

  &::part(bar)
    height 100%
    left 100%
    margin-left -13px
    top 0
    width 13px

  &::part(bar):hover, &::part(drag)
    cursor var(--cursorScrollvSvg)
    margin-left -21px
    width 21px

  &::part(si)
    cursor var(--cursorScrollvSvg)
    left 0
    right 0
    width 7px

h-scroll
  width 100%
  --sh inset 0 3px 3px -3px #0000004d, inset 0 -3px 3px -3px #0000000d

  &::part(scroll)
    display block
    overflow-y hidden
    width 100%

  &::part(bar)
    height 13px
    left 0
    margin-top -13px
    right 0
    width 100%

  &::part(bar):hover, &::part(drag)
    cursor var(--cursorScrollhSvg)
    height 21px
    margin-top -21px

  &::part(si)
    bottom 0
    cursor var(--cursorScrollhSvg)
    height 7px
    top 0

@keyframes v-scroll-pop
  0%
    transform scale(1)

  40%
    transform scale(1.15)

  100%
    transform scale(1)

body.drag
  cursor var(--cursorGrabSvg) !important
